.answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 843px;
  align-items: stretch;
  justify-items: stretch;
}

.answer-btn__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  max-height: 72px;
}

.answer-btn__left-line,
.answer-btn__right-line {
  width: 5%;
  height: 2px;
  background-color: var(--black-40-color);
}

.answer-btn__right-line {
  margin-left: 22px;
}

.answer-btn__item {
  position: relative;
  text-align: left;
  min-height: 70px;
  font-size: 21px;
  border-radius: 2px;
  width: 90%;
  margin-left: 22px;
  border-top: 2px solid var(--black-40-color);
  border-bottom: 2px solid var(--black-40-color);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}

.answer-btn__item-text {
  z-index: 1;
}

.answer-btn__item::before,
.answer-btn__item::after {
  content: '';
  position: absolute;
  top: 13px;
  height: 38px;
  width: 38px;
  border: 2px solid var(--black-40-color);
  transform: scale(.8, 1.25) rotate(45deg);
  border-radius: 2px;
  background-color: var(--white-color);
}

.answer-btn__item::before {
  left: -20px;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
}

.answer-btn__item::after {
  right: -20px;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
}

.answer-btn__index {
  margin: 0 10px;
  color: var(--orange-120-color);
  font-family: InterBold;
  position: relative;
}

/* Hover */

.answer-btn__wrapper:hover > .answer-btn__left-line,
.answer-btn__wrapper:hover > .answer-btn__right-line {
  background-color: var(--orange-100-color);
}

.answer-btn__wrapper:hover > .answer-btn__item,
.answer-btn__wrapper:hover > .answer-btn__item::before,
.answer-btn__wrapper:hover > .answer-btn__item::after {
  border-color: var(--orange-100-color);
}


/* Selected */

.answer-btn__item.selected,
.answer-btn__item.selected::before,
.answer-btn__item.selected::after {
  background-color: var(--orange-5-color);
  border-color: var(--orange-100-color);
  animation: selected 3s ease forwards;
}

.answer-btn__left-line.selected,
.answer-btn__right-line.selected {
  background-color: var(--orange-100-color);
}

@keyframes selected {

  0%,
  22%,
  42% {
    background-color: var(--white-color);
  }

  20%,
  40%,
  60% {
    background-color: var(--orange-5-color);
  }

  62%,
  82%,
  100% {
    background-color: var(--white-color);
  }
}

/* Correct */

.answer-btn__item.correct,
.answer-btn__item.correct::before,
.answer-btn__item.correct::after {
  background-color: var(--green-50-color);
  border-color: var(--green-100-color);
}

.answer-btn__left-line.correct,
.answer-btn__right-line.correct {
  background-color: var(--green-100-color);
}

.answer-btn__wrapper:hover > .answer-btn__item.correct,
.answer-btn__wrapper:hover > .answer-btn__item.correct::before,
.answer-btn__wrapper:hover > .answer-btn__item.correct::after {
  border-color: var(--green-100-color);
}

.answer-btn__wrapper:hover > .answer-btn__left-line.correct,
.answer-btn__wrapper:hover > .answer-btn__right-line.correct {
  background-color: var(--green-100-color);
}


/* Wrong */

.answer-btn__item.wrong,
.answer-btn__item.wrong::before,
.answer-btn__item.wrong::after {
  background-color: var(--red-5-color);
  border-color: var(--red-100-color);
}

.answer-btn__left-line.wrong,
.answer-btn__right-line.wrong {
  background-color: var(--red-100-color);
}

.answer-btn__wrapper:hover > .answer-btn__item.wrong,
.answer-btn__wrapper:hover > .answer-btn__item.wrong::before,
.answer-btn__wrapper:hover > .answer-btn__item.wrong::after {
  border-color: var(--red-100-color);
}

.answer-btn__wrapper:hover > .answer-btn__left-line.wrong,
.answer-btn__wrapper:hover > .answer-btn__right-line.wrong {
  background-color: var(--red-100-color);
}

@media screen and (max-width: 768px) {

  .answers-container {
    grid-template-columns: auto;
  }

  .answer-btn__item {
    font-size: 14px;
  }
}
